@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

$lban-purple: #9A198C;
$lban-yellow: #FEC704;
$lban-grey: #777777;

$default-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.3);
$large-shadow: 0 6px 8px 0 rgba(255, 255, 255, 0.3), 0 8px 20px 0 rgba(255, 255, 255, 0.3);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

/* Index Container */

.background {
    width: 100%;
    height: 100vh;
    background-color: #FAF8F8;
    
    &--home {
        @extend .background;
        background-color: #35434C;
    }

    &--landing {
        @extend .background;
        background: url("./assets/img/rm391-pf-s73-08-mockup.png");
        background-size: cover;
        background-repeat: no-repeat;
        // border: 3px solid salmon;
    }

}

.container {
    display: flex;
    width: 100%;
    // border: 2px solid orange;
    
    &--home {
        @extend .container;
        width: auto;
        margin: auto 10%;
        padding: 5% 0;
        // background-size: cover;
    }
;
    &--header {
        @extend .container;
        padding: 1rem;
        justify-content: space-between;
        width: 100%;
        // border: 2px solid sandybrown
    }
    
    &--side {
        @extend .container;
        align-items: center;
        justify-content: center;
        width: 50%;
        // border: 2px solid red;
    }

    &--image {
        @extend .container;
        width: auto;
        flex-direction: column;
        margin: 3rem 0;
        margin: 1rem
        // margin: 2rem;
        // border: 3px dotted dodgerblue;
    }
    
    &--form {
        padding: 2rem;
        margin: 1rem;
        background-color: white;
        border-radius: 30px;
    }

    &--info {
        @extend .container;
        flex-direction: column;
        // padding: 2rem;
    }
}

.home {
    // background: orchid;
    // padding: 2rem;

    &__text {
        color: white;
        font-size: 20px;
        // padding: 2rem;
        // padding-right: 1rem;
    }

    &__heading {
        color: white;
        font-size: 64px;
        font-weight: 700;
    }
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem;
    // justify-content: flex-start;
    height: 100%;
    // background: url("./assets/img/rm391-pf-s73-08-mockup.png");
    // background-size: cover;
    // background-repeat: no-repeat;

    &__content {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-items: center;
    }

    // &__text {}
}

.nav {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    margin-left: 1rem;
    background-color: white;
    border-radius: 30px;
    box-shadow: $default-shadow;

    &__item {
        display: block;
        // padding: 1rem;
        margin: 1.5rem auto;
        border-radius: 50%;
        border: 1px solid white;
        font-size: 24px;
        text-decoration: none;
        color: $lban-grey;

        &--icon {
            @extend .nav__item;
            padding: 1rem 0 .5rem 0;
        }

        &--img {
            width: 56px;
            padding: .5rem;
            border: 1px solid $lban-purple;
        }

        &--logout {
            @extend .nav__item--icon;
            margin-top: 5rem;
        }

        &--active {
            background: $lban-purple;
            color: white;
        }
    }

    &__item:hover {
        border: 1px solid $lban-purple;
    }

    &__item:active {
        background: $lban-purple;
        color: white;
    }
}

.header {
    &__title {
        // color: orangered;
        align-self: center;
    }

    &__info {
        display: flex;

        &__img {
            width: 40px;
            margin-right: 1rem;
        }
        &__text {
            align-self: center;
            // color: orange;
            margin-left: .5rem;
        }
    }

    // .info__img {
    //     width: 32px;
    // }
    // .info__text {
    //     color: orange;
    // }
}

.image {
    width: 80%;
    // padding: 1rem;

    &--btn {
        width: 100%;
        margin: 1rem 0;
        // border: 3px solid peachpuff;
    }

    &--btn:hover {
        // width: 80%;
        transform: scale(1.1);
    }

    &__text {
        margin: 1rem 0;
        font-size: 25px;
        font-weight: 700;
        color: white;
        text-decoration: none;
    }
}

.form {

    &--side {
        width: 70%;
    }

    &--sm {
        width: 30%;
    }
    
    &__input {
        width: 50%;
        padding: 2rem 0;
    }
}

.btn {
    padding: 1rem 4rem;
    // border-radius: 50%;
    border-radius: 30px;
    background: $lban-grey;
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;

    &--yellow {
        @extend .btn;
        background: $lban-yellow;
    }

    &--purple {
        @extend .btn;
        background: $lban-purple;
        color: white;
        box-shadow: $default-shadow;
    }

    &--form-action--yellow {
        @extend .btn--yellow;
        // padding: .5rem 2rem;
        padding: .7rem 2rem .4rem 2rem;
        border-style: none;
        box-shadow: $large-shadow;
    }
}
