@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

$lban-purple: #9A198C;
$lban-yellow: #FEC704;
$lban-grey: #777777;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

/* Index Container */

.background {
    width: 100%;
    height: 100vh;
    
    &--home {
        @extend .background;
        background-color: #35434C;
    } 

}

.container {
    display: flex;
    // border: 2px solid orange;
    
    &--home {
        @extend .container;
        margin: auto 10%;
        padding: 5% 0;
        // background-size: cover;
    }
;
    &--header {
        @extend .container;
        padding: 1rem 0;
        justify-content: space-between;
    }
    
    &--side {
        @extend .container;
        align-items: center;
        justify-content: center;
        width: 50%;
        // border: 2px solid red;
    }

    &--image {
        @extend .container;
        flex-direction: column;
        margin: 3rem 0;
        margin: 1rem
        // margin: 2rem;
        // border: 3px dotted dodgerblue;
    }
    
    &--form {
        padding: 2rem;
    }

    &--info {
        padding: 2rem;
    }
}

.home {
    background: orchid;
    &__text {
        color: white;
        font-size: 20px;
        padding: 2rem;
        padding-right: 1rem;
    }

    &__heading {
        color: white;
        font-size: 64px;
        font-weight: 700;
    }
}

.landing {
    display: flex;
    background: url("./assets/img/rm391-pf-s73-08-mockup.png");
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        width: 50&;
        justify-self: flex-start;
    }
}

.nav {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-left: 2rem;

    &__item {
        padding: 1rem;
        border-radius: 50%;
        border: 1px solid white;

        &--logout {
            padding-top: 5rem;
        }
    }

    &__item:hover {
        border: 1px solid $lban-purple;
    }

    &__item:active {
        background: $lban-purple;
    }
}

.image {
    width: 80%;
    // padding: 1rem;

    &--btn {
        width: 100%;
        margin: 1rem 0;
        // border: 3px solid peachpuff;
    }

    &--btn:hover {
        // width: 80%;
        transform: scale(1.1);
    }

    &__text {
        margin: 1rem 0;
        font-size: 25px;
        font-weight: 700;
        color: white;
        text-decoration: none;
    }
}

.form {

    &--side {
        width: 70%;
    }

    &--sm {
        width: 30%;
    }
    
    &__input {
        width: 50%;
        padding: 2rem 0;
    }
}

.btn {
    padding: 1rem 2rem;
    border-radius: 50%;
    background: $lban-grey;
    color: black;

    &--yellow {
        @extend .btn;
        background: $lban-yellow;
    }

    &--purple {
        @extend .btn;
        background: $lban-purple;
        color: white
    }
}
